<!DOCTYPE html>
<html>
  <head>
    <title>Comment</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= comment.id %></h1>
    <p>Welcome to <%= comment.text %></p>
  </body>
</html>
